FrmExamen/Connected Services/WSM/WSMeteorologicoSoap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" targetNamespace="http://tempuri.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="efemerides" nillable="true" type="tns:efemerides" />
  <xs:element name="efemeridesResponse" nillable="true" type="xs:string" />
  <xs:element name="estadoActualPorCiudad" nillable="true" type="tns:pronosticoCiudad" />
  <xs:element name="estadoActualPorCiudadResponse" nillable="true" type="xs:string" />
  <xs:element name="estadoActualRegional" nillable="true" type="tns:pronosticoRegion" />
  <xs:element name="estadoActualRegionalResponse" nillable="true" type="xs:string" />
  <xs:element name="fecha" nillable="true" type="xs:string" />
  <xs:element name="fechaResponse" nillable="true" type="xs:string" />
  <xs:element name="hora" nillable="true" type="xs:string" />
  <xs:element name="horaResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoExtendidoCiudad" nillable="true" type="tns:pronosticoCiudad" />
  <xs:element name="pronosticoExtendidoCiudadResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoExtendidoCiudadxID" type="xs:int" />
  <xs:element name="pronosticoExtendidoCiudadxIDResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoExtendidoRegion" nillable="true" type="tns:pronosticoRegion" />
  <xs:element name="pronosticoExtendidoRegionResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoExtendidoRegionxID" type="xs:int" />
  <xs:element name="pronosticoExtendidoRegionxIDResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoPorCiudad" nillable="true" type="tns:pronosticoCiudad" />
  <xs:element name="pronosticoPorCiudadResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoPorCiudadxID" type="xs:int" />
  <xs:element name="pronosticoPorCiudadxIDResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoRegional" nillable="true" type="tns:pronosticoRegion" />
  <xs:element name="pronosticoRegionalResponse" nillable="true" type="xs:string" />
  <xs:element name="pronosticoRegionalxID" type="xs:int" />
  <xs:element name="pronosticoRegionalxIDResponse" nillable="true" type="xs:string" />
  <xs:complexType name="efemerides">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="faseLunar" type="tns:faseLunar" />
          <xs:element minOccurs="0" name="pronosticoId" type="xs:dateTime" />
          <xs:element minOccurs="0" name="saleLuna" type="xs:string" />
          <xs:element minOccurs="0" name="saleSol" type="xs:string" />
          <xs:element minOccurs="0" name="seponeLuna" type="xs:string" />
          <xs:element minOccurs="0" name="seponeSol" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="faseLunar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="efemerideses" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="urlIcono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pronosticoCiudad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccionVientoMadrugada" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoManana" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoNoche" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoTarde" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMadrugadaComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMadrugadaComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMananaComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMananaComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoNocheComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoNocheComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTardeComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTardeComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoMadrugada" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoManana" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoNoche" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoTarde" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="id" type="tns:pronosticoCiudadId" />
          <xs:element minOccurs="0" name="lluviaMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaManana" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaNoche" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaTarde" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadManana" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadNoche" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadTarde" type="xs:double" />
          <xs:element minOccurs="0" name="tempMax" type="xs:double" />
          <xs:element minOccurs="0" name="tempMin" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoManana" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoNoche" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoTarde" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUManana" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUNoche" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUTarde" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVManana" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVNoche" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVTarde" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="estadoTiempo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="estadoDiaNoche" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="lluvia" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombreEn" type="xs:string" />
          <xs:element minOccurs="0" name="nubosidad" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudadsForEstadoMadrugada" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudadsForEstadoManana" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudadsForEstadoNoche" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudadsForEstadoTarde" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoMarinosEstadoTiempo" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegionsForEstadoMadrugada" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegionsForEstadoManana" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegionsForEstadoNoche" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegionsForEstadoTarde" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="tormentas" type="xs:string" />
          <xs:element minOccurs="0" name="urlIcono" type="xs:string" />
          <xs:element minOccurs="0" name="viento" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pronosticoCiudadId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ciudad" type="tns:ciudad" />
          <xs:element minOccurs="0" name="pronostico" type="tns:pronostico" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="latitud" type="xs:string" />
          <xs:element minOccurs="0" name="longitud" type="xs:string" />
          <xs:element minOccurs="0" name="mostrarEnReporte" type="xs:boolean" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" name="nombreModeloWrfSarapiqui" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudads" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="region" type="tns:region" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ciudads" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="latitudGrados" type="xs:double" />
          <xs:element minOccurs="0" name="latitudMinutos" type="xs:double" />
          <xs:element minOccurs="0" name="latitudSegundos" type="xs:double" />
          <xs:element minOccurs="0" name="longitudGrados" type="xs:double" />
          <xs:element minOccurs="0" name="longitudMinutos" type="xs:double" />
          <xs:element minOccurs="0" name="longitudSegundos" type="xs:double" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegions" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pronostico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="comentario" type="xs:string" />
          <xs:element minOccurs="0" name="comentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="elaboro" type="xs:string" />
          <xs:element minOccurs="0" name="faseLunarComentario" type="xs:string" />
          <xs:element minOccurs="0" name="faseLunarId" type="xs:int" />
          <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoCiudadFecha" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="pronosticoRegionFecha" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pronosticoRegion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccionVientoMadrugada" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoManana" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoNoche" type="xs:string" />
          <xs:element minOccurs="0" name="direccionVientoTarde" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMadrugadaComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMadrugadaComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMananaComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoMananaComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoNocheComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoNocheComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTardeComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTardeComentarioEn" type="xs:string" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoMadrugada" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoManana" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoNoche" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="estadoTiempoByEstadoTarde" type="tns:estadoTiempo" />
          <xs:element minOccurs="0" name="id" type="tns:pronosticoRegionId" />
          <xs:element minOccurs="0" name="lluviaMadurgada" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaManana" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaNoche" type="xs:double" />
          <xs:element minOccurs="0" name="lluviaTarde" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadManana" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadNoche" type="xs:double" />
          <xs:element minOccurs="0" name="nubosidadTarde" type="xs:double" />
          <xs:element minOccurs="0" name="tempMax" type="xs:double" />
          <xs:element minOccurs="0" name="tempMin" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoManana" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoNoche" type="xs:double" />
          <xs:element minOccurs="0" name="velocidadVientoTarde" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUManana" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUNoche" type="xs:double" />
          <xs:element minOccurs="0" name="vientoUTarde" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVMadrugada" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVManana" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVNoche" type="xs:double" />
          <xs:element minOccurs="0" name="vientoVTarde" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pronosticoRegionId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="pronostico" type="tns:pronostico" />
          <xs:element minOccurs="0" name="region" type="tns:region" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>